.show_cars_content{
    width: 100%;
    overflow: hidden 
}

.cars{
    margin: 0 auto;
    overflow: hidden;
    width: fit-content;
}

.car{
    float: left;
    width: 21vw;
    margin: 2vw;
    padding: 50px;
    border: 3px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    z-index: 1;
}

.del_btn{
    z-index: 2;
}

.add_cars_content{
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
}

.add_form{
    margin: 0 auto;
    max-width: 30%;
    box-sizing: border-box;
}

input, select{
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
}

.add_car_btn{
    border: 3px solid black;
    transform: translateX(30%);
    border-radius: 10px;
    width: 60%;
    height: 50px;
    margin-top: 20px;
}

.car_menagement_div{
    margin: 0 auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.car_menagement_content{
    width: 100%;
    padding-top: 20vh;
    box-sizing: border-box;
}